<!-- partial:index.partial.html -->
 <div aria-busy="true" id="progress" hidden aria-label="Loading, please wait." role="progressbar"></div>
<main role="main">
  <h1>Nekopier</h1>
  <p>Download all the source code and assets of any website </p>
  <div class="container">
  <div class="row">
    <div class="col-lg-12" style="float: none; margin: 0 auto;">
      <div id="row g-3">
          <form class="form mt-2" id="mf">
        <div class="input-group col-md-12">
                <input type="text" required class="form-control" id="website" placeholder="https://neko.pe" />         
                    <button class="btn btn-dark" id="download" type="submit">
                       Fetcher <i class="fa fa-clone"></i>
                    </button>
                <br>
              </form>
        </div><br>
      </div>
      <br>
    </div>
  </div>
<p hidden class="log" id='log'></p>
<div hidden id="base"  class="card text-start mb-2 text-wrap">
<div class="card card-header bg-light"><p hidden id='nFilesP'>Total Downloaded file: <span  id='nFiles' style="color: red;font-weight: bold">10</span></p></div>
<div hidden id="m">
<ul>

</ul>

</div>
</div>
   <textarea style="display: none" class="form-control mt-1 mb-1" style="color: #ff0000;" readonly id="ta"></textarea>
   <input style="display: none" class="form-control text-secondary"  type="text" readonly id="resulturl">
  <button style="display: none" class="btn btn-success mt-2 mb-2" id="dlbtn">Download <i class="fa fa-download"></i></button>
  <button style="display: none" class="btn btn-dark" id="cpl">Copy Link Download <i class="fa fa-clone"></i></button>
</div> 
</main>
<!-- partial -->
  
